@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}
html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
}
body * {
  font-family: 'Noto Sans', sans-serif;
}
.content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1rem;
}
header {
  position: fixed;
  top: 0;
  padding: 1rem;
  width: 100%;
  background: #fff;
  box-shadow: 0 25px 50px -12px rgba(93, 99, 112, 0.4);
  z-index: 10;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 900;
  color: #225874;
}
header .logo img {
  height: 40px;
  transition: all 0.3s;
}
header .logo.scrolled img {
  height: 28px;
}
.searchForm {
  padding: 6rem 1rem 4rem;
  text-align: center;
}
.searchForm h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #225874;
}
.searchForm h1 span {
  color: #fcb283;
}
.searchForm form {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
